<form method='post' action='/links'>
  <input type="text" name="user_name" placeholder="Name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="password" placeholder="Enter Password">
  <input type="submit" value="Signup">
</form>
